@import url("https://fonts.googleapis.com/css2?family=Sora:wght@100..800&display=swap");

@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");

/* Variables */
:root {
   --primary-color: #1f2937;
   --secondary-color: #b8fd34;
   --paragraph-color: #a5b2b8;
   --body-color: #f6f3ff;
   --cta-bgcolor: #a78bfa;
   --border-color: #dfe1e5;
   --light-gray-color: #f6f6f6;
   --shadow: 0 0 10px rgba(167, 139, 250, 0.15);
   --letter-spacing: 0.28px;
   --main-heading: 44px;
   --sub-heading1: 36px;
   --sub-heading2: 30px;
   --sub-heading3: 24px;
   --fs-20: 20px;
   --fs-18: 18px;
   --container-max-w: 1400px;
}

*,
html {
   color: var(--primary-color) !important;
   letter-spacing: var(--letter-spacing);
   scroll-behavior: smooth;
}

body {
   font-size: 1rem;
   font-family: "Manrope", sans-serif;
   min-height: 100vh;
   background: var(--body-color);
}

/* Common CSS Classes */
.heading-font {
   font-family: "Sora", sans-serif;
}

.max-w-xxl {
   max-width: var(--container-max-w);
   margin-inline: auto;
}

.navbar-brand {
   width: 186px;
}

.primary-bg {
   background: var(--primary-color);
}

.secondary-text {
   color: var(--secondary-color) !important;
}

.paragraph-text {
   color: var(--paragraph-color) !important;
}

header .nav-link {
   font-family: "Sora", sans-serif;
}

header .nav-link.active {
   background: var(--secondary-color) !important;
}

header .nav-link:hover {
   background: var(--light-gray-color);
   transition: all 0.5s;
}

.offcanvas-footer {
   font-size: 12px;
   border-top: 1px solid var(--border-color);
}

.custom-shadow {
   box-shadow: var(--shadow);
}

.main-heading {
   font-size: var(--main-heading);
}

.sub-heading1 {
   font-size: var(--sub-heading1);
}

.fs-18 {
   font-size: var(--fs-18);
}

.fs-20 {
   font-size: 20px;
}

footer {
   padding-top: 150px;
   margin-top: -90px;
}

footer .nav-link {
   width: fit-content;
   word-break: break-word;
}

footer .nav-link:hover {
   color: var(--secondary-color) !important;
   transition: all 0.3s;
}

.cursor-pointer {
   cursor: pointer;
}

.social-links a {
   width: 40px;
   height: 40px;
}

.marquee-wrapper {
   width: 100%;
   overflow: hidden;
   background-color: #f9f9f9;
   padding: 10px 0;
}

.marquee-track {
   display: flex;
   width: max-content;
   animation: scroll 20s linear infinite;
}

.marquee-content {
   white-space: nowrap;
   padding-right: 100px; /* Space between repeats */
   font-size: 16px;
   color: #333;
}

@keyframes scroll {
   0% {
      transform: translateX(0);
   }
   100% {
      transform: translateX(-50%);
   }
}

/* Page Loading CSS  */
.loader-animation {
   animation: loader 1s linear 0s 1 forwards;
}

@keyframes loader {
   0% {
      transform: scale(0);
   }
   25% {
      transform: scale(0.7);
   }
   50% {
      transform: scale(1.4);
   }
   75% {
      transform: scale(2.1);
   }
   100% {
      transform: scale(2.8);
   }
}

/* Button's CSS */
.primary-btn {
   background: var(--primary-color) !important;
   color: var(--secondary-color) !important;
   font-family: "Sora", sans-serif;
   width: fit-content;
}

.primary-btn:hover {
   filter: brightness(1.15);
   transition: all 0.5s;
}

.secondary-btn {
   background: var(--secondary-color) !important;
   color: var(--primary-color) !important;
   font-family: "Sora", sans-serif;
   width: fit-content;
   text-transform: capitalize;
}

.secondary-btn:hover {
   filter: brightness(1.15);
   transition: all 0.5s;
}

.btn-close {
   background: url(../img/icon/ic-close.svg);
   background-repeat: no-repeat;
   background-position: center;
   background-size: 18px;
}

/* Media Queries */

/* For Medium Screens (Tablet) */
@media only screen and (max-width: 992px) {
   .main-heading {
      font-size: var(--sub-heading1);
   }

   .sub-heading1 {
      font-size: var(--sub-heading2);
   }

   .hero-sec .fs-18 {
      font-size: 1rem;
   }
}

/* For Small Screens (Mobile) */
@media only screen and (max-width: 576px) {
   .logo {
      width: 115px;
   }

   .navbar-brand {
      width: auto;
   }

   .main-heading {
      font-size: var(--sub-heading2);
   }

   .sub-heading1 {
      font-size: var(--sub-heading3);
   }
}
