.hero-sec {
   padding-block: 80px 120px;
}

.about-hero-sec {
   padding-block: 120px;
}

.about-hero-sec .effect-left {
   top: 50%;
   left: -15%;
   transform: translate(-25%, -50%);
}

.text-shadow {
   text-shadow: 1px 2px 2px var(--primary-color);
}

.about-hero-sec .effect-right {
   top: 50%;
   right: -15%;
   transform: translate(20%, -50%);
}

.feature-sec {
   padding: 80px;
   transform: translateY(-100px);
}

.cta-sec {
   background: var(--cta-bgcolor);
   padding: 80px;
   max-width: 1200px;
   width: 90%;
}

.cta-heading {
   font-size: var(--sub-heading1);
   line-height: 3.25rem;
}

.cta-sec .effect-left {
   top: -60%;
   left: -15%;
}

.cta-sec .effect-right {
   bottom: -60%;
   right: -15%;
}

.products-card:hover {
   background-color: var(--body-color);
   transition: all 0.5s;
   cursor: pointer;
}

.products-card p {
   display: -webkit-box;
   max-width: 100%;
   height: 65px;
   margin: 0 auto;
   line-height: 1.3;
   -webkit-line-clamp: 3;
   line-clamp: 3;
   -webkit-box-orient: vertical;
   overflow: hidden;
   text-overflow: ellipsis;
}

.icon-shadow {
   width: 48px;
   height: 48px;
   background: var(--body-color);
   border-radius: 50%;
}

.ic-location {
   margin-top: -24px;
   margin-left: 24px;
   z-index: 1;
}

.ic-shapes {
   margin-top: -40px;
   margin-left: 16px;
   z-index: 1;
}

.shapes-card:hover {
   background: #a78bfa26 !important;
   transition: all 0.5s;
   cursor: pointer;
}

/* Media Queries */
/* For Large Screens (Large Tablet) */
@media only screen and (max-width: 992px) {
   .feature-sec {
      padding: 80px 40px;
      transform: translateY(-40px);
   }
}

/* For Medium Screens (Tablet) */
@media only screen and (max-width: 768px) {
   .cta-sec {
      padding: 80px 40px;
   }

   .cta-heading {
      font-size: var(--sub-heading2);
      line-height: 2.5rem;
   }

   .products-card h5 {
      font-size: var(--fs-16);
   }

   .products-card p {
      font-size: var(--fs-14);
      height: 57px;
   }

   .about-hero-sec {
      padding-block: 80px;
   }

   .about-us p {
      font-size: 1rem;
   }
}
/* For Small Screens (Mobile) */
@media only screen and (max-width: 576px) {
   .hero-sec {
      padding-block: 60px;
   }

   .cta-sec {
      padding: 60px 20px;
   }

   .cta-heading {
      font-size: var(--sub-heading3);
      line-height: 2rem;
   }
}
